body {
    background-color: rgb(140, 152, 132);
    font-family: 'Roboto';
}

input {
    height: 40px;
    width: 350px;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
}

select {
    height: 35px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 20px;
}

button {
    height: 46px;
    width: 160px;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    margin-left: 20px;
}